header{
    background: #fb1520;
    padding: 13px 0 10px;
    height: 57px;
    width: 100%;
}
header .head{
    margin-left: 174px;
    float: left;
}
header .first{
    margin-left: 680px;
    color: #fff;
    border-right: 1px solid #fff;
    width: 36px;
    height: 13px;
    line-height: 13px;
    float: left;
    margin-top: 45px;
}
header .help{
    margin-top: 45px;
    color: #fff;
    float: left;
    height: 13px;
    line-height: 13px;
    margin-left: 10px;
}
header a:hover{
    border-bottom: 1px solid #fff;
}
section{
    width: 1000px;
    height: 390px;
    margin: 30px auto;
    box-shadow: 0 0 5px;
}
section .zuo{
    width: 560px;
    float: left;
}
section .you{
    width: 400px;
    padding: 20px 20px;
    float: left;
    position: relative;
}
section .you h2{
    color: #5e5e5e;
    float: left;
}
section .you .hai{
    float: left;
    margin-left: 95px;
    margin-bottom: 10px;
    margin-top: 5px;
}
section .you a{
    color: #0083ce;
    margin-top: 5px;
    float: left;
}
#username{
    width: 298px;
    height: 38px;
    border: 1px solid #e6e6e6;
    margin-top: 20px;
    padding-left: 40px;
}
.name{
    position: absolute;
    left: 30px;
    top: 83px;
}
#password{
    width: 298px;
    height: 38px;
    border: 1px solid #e6e6e6;
    margin-top: 20px;
    padding-left: 40px;
}
.key{
    position: absolute;
    left: 36px;
    top: 142px;
}
.forget{
    float: left;
    color: #a5a5a5;
    margin-left: 280px;
    margin-top: 5px;
    width: 120px;
}
.two{
    float: left;
    color: #a5a5a5;
    margin-top: 5px;
    width: 400px;
}
button{
    width: 340px;
    height: 40px;
    margin-top: 10px;
    background: #fb1520; 
    border: none;
    color: #fff;
}
.friend{
    width: 400px;
    color: #a5a5a5;
    margin-top: 40px;
}
.qq{
    width: 130px;
    height: 32px;
    background: #4fa3e6;
    border-radius: 5px;
    margin-top: 5px;
}
.qq1{
    float: left;
    padding: 7px 8px;
    border-right: 1px solid #398dd7;
}
.qq2{
    float: left;
    margin: 8px 0 0 8px;
    color: #fff;
}
ul{
    margin-top: 80px;
    width: 100%;
    height: 13px;
    line-height: 13px;
    margin-left: 450px;
}
ul li{
    float: left;
    width: 76px;
    height: 13px;
    line-height: 13px;
    border-right: 1px solid #ddd;
    text-align: center;
}
.ban{
    margin-left: 470px;
    height: 18px;
    line-height: 18px;
    margin-top: 5px;
}
.img2{
    margin-left: 420px;
}
.img1{
    margin-top: 25px;
    margin-left: 10px;
}
