section{
    width: 100%;
    background: #f6f6f6;
    border-top: 2px solid #fb1520;
    padding-top: 15px;
    .zhong{
        margin: 0 auto;
        width: 1205px;
        .main{
            margin-left: 1105px;
            color: #fb1520    
        }
        ul{
           border: 1px solid #dddddd;
           line-height: 30px;
           li{
               float: left;
               height: 30px;
               line-height: 30px;
              
               a{
                float: left;
                width: 50px;
                color: #000;
                height: 13px;
                width: 50px;
                margin-left:17px;
            }
            &:nth-child(1){
                margin-left: 15px;
            }
           }
        }
        ol{
            border: 1px solid #dddddd;
            height: 30px;
            line-height: 30px;
            margin-top: 17px;
            width: 977px;
            float: left;
            li{
                float: left;
                width: 69px;
                height: 29px;
                border-right: 1px solid #ddd;
                text-align: center;
                &:nth-child(5){
                    width: 93px;
                }
                &:nth-child(6){
                    width: 93px;
                }
                &:nth-child(9){
                    width: 247px;
                    border-right: none;                   
                    span{
                        width: 40px;
                        height: 18px;
                        color: #fb1520;
                        background: #dbdce0;
                        padding:3px;
                        margin-left:-3px;
                    }
                }
            }    
        }
        // 购物车
        // @import "_reset.scss";

        .shopCar{
            height: 30px;
            background: #fb1520;
            border: 1px solid #ddd;
            float: left;
            margin-top: 17px;
            margin-left:30px;
            .wode{
                height: 30px;
                width: 60px;
                margin-left: 40px;
                line-height: 30px;
                color: #fff;
                float: left;
            }
            .empty{
                width: 150px;
                height: 30px;
                background: url(../images/bar_ico1.png) no-repeat;
                background-size: 30px 30px;
                position: relative;

                span{
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 5px;
                    right: 15px;
                    background: #fff;
                    border-radius: 50%;
                    line-height: 20px;
                    text-align: center;
                }

                // .goods-list{
                //     width: 180px;
                //     position: absolute;
                //     top: 40px;

                //     li{
                //         width: 280px;
                //         height: 60px;
                //         background: rgba(0,0,0,.5);

                //         img{
                //             display: inline-block;
                //             height: 60px;
                //             width: 40px;
                //         }
                //         h3{
                //             float: left;
                //             line-height: 60px;
                //             padding-left: 10px;
                //         }
                //         strong{
                //             display: block;
                //             float: left;
                //             line-height: 60px;
                //             padding:0 5px;
                //             color: yellowgreen;
                //         }
                //     }
                // }
            }
        }

        // .warp{
        //     width:1120px;
        //     margin: 0 auto;

        //     ul{
        //         li{
        //             width: 224px;
        //             height: 405px;
        //             float: left;
        //             text-align: center;
        //             box-shadow: 0 0 5px #ddd;
        //             border-radius: 10px;
        //             overflow: hidden;
        //             h3{
        //                 line-height: 40px;
        //                 text-align: left;
        //             }
        //             img{
        //                 display: block;
        //                 width: 224px;
        //                 height: 340px;
        //             }
        //             button{
        //                 width: 100%;
        //                 border-radius: 5px ;
        //                 background:none;
        //                 border : 1px solid #ddd;
        //                 background: yellowgreen;
        //                 color: #fff;
        //             }
        //         }
        //     }
        // }





        .warp1{
            width: 220px;
            height: 344px;
            border: 1px dashed #ddd;
            margin: 20px 19px 0 0;
            float: left;
            .pacture{
                width: 219px;
                height: 219px;
                
            }
            .free{
                width:220px;
                height: 14px;
                line-height: 14px;
                float: left;
                margin-top: 5px;
            }
            .fen{
                width: 50px;
                height: 14px;
                line-height: 14px;
                margin-top: 30px;
                margin-left: 10px;
                float: left;
            }
            .see{
                float: left;
                width: 94px;
                margin-left: 55px;
                margin-top: 30px;
                height: 14px;
                line-height: 14px;
            }
            b{
                color: #fb1520;
            }
            .email{
                width: 169px;
                margin-left: 10px;
                margin-top: 10px;
                float: left;
                strong{
                    color: #096894;
                }
            }
            .vip{
                margin-top: 10px;
            }
            &:hover{
                border:1px solid #fb1520;
            }
            &:hover .shen{
                background: #fb1520;
                color: #fff;
            }
            .shen{
                width: 80px;
                height: 20px;
                border: 1px solid #ddd;
                border-radius: 5px;
                margin-left:70px;
                text-align: center;
                line-height: 20px;
                color: #818181;
            }
        }
    }
    // .list1{
    //     width: 194px;
    //     height: 394px;
    //     border: 1px solid #ddd;
    //     float: left;
    //     margin-top: -30px;
    //     .doing{
    //         height: 30px;
    //         line-height: 30px;
    //         font-weight: bold;
    //         padding-left:15px;
    //         border-bottom: 1px solid #ddd;
    //         background: #f5f6f5;
    //     }
    //     .list{
    //         height: 72px;
    //         border-bottom: 1px solid #ddd;
    //         img{
    //             margin: 11px 13px 11px 9px;
    //             float: left;
    //         }
    //         .shang{
    //             width: 110px;
    //         }
    //     }
    // }
}